src/components/resume auto upload.json
{
  "name": "Resume_Auto_Upload",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Get_events": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "get",
            "path": "/v2/calendars/@{encodeURIComponent('Calendar')}/events"
          },
          "runAfter": {},
          "type": "ApiConnection"
        },
        "Apply_to_each_event": {
          "actions": {
            "Get_event_attachments": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/calendars/@{encodeURIComponent('Calendar')}/events/@{items('Apply_to_each_event')?['id']}/attachments"
              },
              "runAfter": {},
              "type": "ApiConnection"
            },
            "Apply_to_each_attachment": {
              "actions": {
                "Condition_check_file_type": {
                  "actions": {
                    "Get_attachment_content": {
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/v2/calendars/@{encodeURIComponent('Calendar')}/events/@{items('Apply_to_each_event')?['id']}/attachments/@{items('Apply_to_each_attachment')?['id']}/$value"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    },
                    "Create_file_in_SharePoint": {
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepoint']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/@{encodeURIComponent('https://yourtenant.sharepoint.com/sites/YourSite')}/files",
                        "body": {
                          "name": "@{items('Apply_to_each_attachment')?['name']}",
                          "folderPath": "/Shared Documents/Resumes",
                          "file": "@outputs('Get_attachment_content')?['body']"
                        }
                      },
                      "runAfter": {
                        "Get_attachment_content": ["Succeeded"]
                      },
                      "type": "ApiConnection"
                    },
                    "Send_email_with_link": {
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail",
                        "body": {
                          "Message": {
                            "Subject": "Candidate Resume: @{items('Apply_to_each_attachment')?['name']}",
                            "Body": {
                              "ContentType": "HTML",
                              "Content": "The resume has been uploaded. You can preview it here: <a href='https://yourtenant.sharepoint.com/sites/YourSite/Shared Documents/Resumes/@{items('Apply_to_each_attachment')?['name']}'>Resume Link</a>"
                            },
                            "ToRecipients": [
                              {
                                "EmailAddress": {
                                  "Address": "your.email@domain.com"
                                }
                              }
                            ]
                          },
                          "SaveToSentItems": "true"
                        }
                      },
                      "runAfter": {
                        "Create_file_in_SharePoint": ["Succeeded"]
                      },
                      "type": "ApiConnection"
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "endsWith": [
                          "@{items('Apply_to_each_attachment')?['name']}",
                          ".pdf"
                        ]
                      },
                      {
                        "endsWith": [
                          "@{items('Apply_to_each_attachment')?['name']}",
                          ".docx"
                        ]
                      }
                    ]
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('Get_event_attachments')?['body/value']",
              "runAfter": {
                "Get_event_attachments": ["Succeeded"]
              },
              "type": "Foreach"
            }
          },
          "foreach": "@outputs('Get_events')?['body/value']",
          "runAfter": {
            "Get_events": ["Succeeded"]
          },
          "type": "Foreach"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          },
          "type": "Recurrence"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {}
    },
    "parameters": {
      "$connections": {
        "value": {
          "office365": {
            "connectionId": "/providers/Microsoft.PowerApps/apis/shared_office365/connectionReferences/office365",
            "connectionName": "office365",
            "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
          },
          "sharepoint": {
            "connectionId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connectionReferences/sharepoint",
            "connectionName": "sharepoint",
            "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
          }
        }
      }
    }
  }
}
